<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:if="${visitor != null}">
        <title th:text="${visitor} + ', ' + 'I hope you are interested to hire me'" > </title>
    </div>
    <!-- ELSE -->
    <div th:if="${visitor == null}">
        <title> This is my CV </title>
    </div>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!-- Bootstrap core CSS -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

</head>
<style>
    .font{
    color: #F8F8FF;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;

    }
</style>
<body style="background: url(https://www.digitalplatforms.co.za/wp-content/uploads/2015/11/Website-Design-Background.png) no-repeat;
background-attachment: fixed; background-position: center center;background-size: cover;  ">

<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">MY CV</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <!-- LINK MENUJU table, dan link menuju home#form -->
                <li><a class="nav-link " href="#about">About</a></li>
                <li><a class="nav-link " href="#experience">Experience</a></li>
                <li><a class="nav-link " href="#education">Education</a></li>
                <li><a class="nav-link " href="#skills">Skills</a></li>

            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>


<div class="container-fluid p-0 font">

    <section id="about" align="middle"  >
        <div class="my-auto">
            <h1 class="mb-0">Ignatius Rahardi
                <span class="text-primary">Prasojo</span>
            </h1>
            <div class="subheading mb-5">Jalan Tebet Barat Dalam 8M no 3 ·
                (021) 8300681 · 087780088819
                <a href="mailto:vasundjaja@email.com">ignatiusrahardi@email.com</a>
            </div>

            <p class="mb-5">I am currently taking Advanced Programming Course and I did this web page to satisfy
                the problems in lab-5.</p>
            <p class="mb-5">Hopefully I can pass this course</p>


        </div>
    </section>
    <hr/>
    <section id="experience" >
        <div class="my-auto">
            <h2 class="mb-5" align="middle" style="margin-bottom: 7rem;">Experience</h2>

            <div style="margin-left: 4rem;">
                <div>
                    <h3 class="mb-0">Web Design and Programming</h3>
                    <div class="subheading mb-3">3rd Semester</div>
                    <p>Learning web design and programming using Python and Django as the framework. Also learned
                        about Javascript and css.</p>
                </div>
                <div>
                    <span class="text-primary">August 2017 - December 2017</span>
                </div>
            </div>

            <div style="margin-left: 4rem;">
                <div>
                    <h3 class="mb-0">Data Structure and Algorithm</h3>
                    <div class="subheading mb-3">3rd semester</div>
                    <p>Learning data structures and algorithm or the object-oriented programming of Java.</p>
                </div>
                <div>
                    <span class="text-primary">August 2017 - December 2017</span>
                </div>
            </div>

            <div style="margin-left: 4rem;">
                <div>
                    <h3 class="mb-0">Programming Foundation</h3>
                    <div class="subheading mb-3">1st and 2nd semester</div>
                    <p>Learning the foundation of programming with Python and Java.</p>
                </div>
                <div>
                    <span class="text-primary">August 2016 - June 2017</span>
                </div>
            </div>

        </div>

    </section>
    <hr/>
    <section id="education">
        <div class="my-auto">
            <h2 class="mb-5" align="middle" style="margin-bottom: 7rem;">Education</h2>

            <div style="margin-left: 4rem;">
                <div>
                    <h3 class="mb-0">University of Indonesia</h3>
                    <div class="subheading mb-3">Sarjana Komputer</div>
                    <div>Computer Science</div>
                    <p>GPA: -</p>
                </div>
                <div>
                    <span class="text-primary">August 2016 - now</span>
                </div>
            </div>

            <div style="margin-left: 4rem;">
                <div>
                    <h3 class="mb-0">SMAN 8 Jakarta</h3>
                    <div class="subheading mb-3">Science Program</div>
                    <p>GPA: -</p>
                </div>
                <div>
                    <span class="text-primary">August 2014 - May 2016</span>
                </div>
            </div>

        </div>
    </section>
    <hr/>
    <section id="skills" align="middle">
        <div class="my-auto">
            <h2 class="mb-5" style="margin-bottom: 3rem;">Skills</h2>

            <p class="mb-5">Java</p>
            <p class="mb-5">Python</p>
            <p class="mb-5">HTML</p>
            <p class="mb-5">CSS</p>
            <p class="mb-5">JavaScript</p>


        </div>
    </section>
    <hr/>
</div>

</body>
</html>
